<?xml version="1.0" encoding="utf-8" ?>
<log4net>
  
  <appender name="Log4IoTHubAppender"
               type="Log4IoTHub.Log4IoTHubAppender, Log4IoTHub">
    <filter type="log4net.Filter.LevelRangeFilter">
      <levelMin value="INFO" />
      <levelMax value="INFO" />
    </filter>
    <deviceId value="YOUR_DEVICE_ID" />
    <deviceKey value="YOUR_DEVICE_KEY=" />
    <azureApiVersion value="2015-08-15-preview" />
    <iotHubName value="YOUR_IOT_HUB.azure-devices.net" />
    <metaDataJson value="{MetadataVersion:'1.0',Product:'dave',ProductVersion:'2016.1',Lifecycle:'prod',Licence:'full',Customer:'core',Component:'core'}" />
    <logError value="true"/> <!-- requires the Log4IoTHubErrorAppender appender -->
    <logMessageToFile value="true"/> <!-- requires the Log4IoTHubErrorAppender appender -->
    <LoggerName value="Log4IoTHubInternal"/>
    <!--
    <webProxyHost value="proxy.ptvag.ptv.de" />
    <webProxyPort value="8080" />
    -->
  </appender>


  <appender name="Log4IoTHubErrorAppender" type="log4net.Appender.RollingFileAppender">
    <param name="File" value="log4IoTHub_error.log" />
    <param name="AppendToFile" value="true" />
    <rollingStyle value="Size" />
    <maxSizeRollBackups value="10" />
    <maximumFileSize value="10MB" />
    <staticLogFileName value="true" />
    <layout type="log4net.Layout.PatternLayout">
      <!--param name="ConversionPattern" value="%-5p;%d{yyyy-MM-dd HH:mm:ss};[%thread];%logger;%m%n" /-->
      <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss.fff zzz} %m" />
    </layout>
    <filter type="log4net.Filter.LevelRangeFilter">
      <levelMin value="ERROR" />
      <levelMax value="FATAL" />
    </filter>
  </appender>
  
  <appender name="Log4IoTHubInfoAppender" type="log4net.Appender.RollingFileAppender">
    <param name="File" value="log4IoTHub_info.log" />
    <param name="AppendToFile" value="true" />
    <rollingStyle value="Size" />
    <maxSizeRollBackups value="10" />
    <maximumFileSize value="10MB" />
    <staticLogFileName value="true" />
    <layout type="log4net.Layout.PatternLayout">
      <!--param name="ConversionPattern" value="%-5p;%d{yyyy-MM-dd HH:mm:ss};[%thread];%logger;%m%n" /-->
      <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss.fff zzz} %m" />
    </layout>
    <filter type="log4net.Filter.LevelRangeFilter">
      <levelMin value="INFO" />
      <levelMax value="INFO" />
    </filter>
  </appender>

  <root>
    <level value="INFO" additivity="false"/>
    <appender-ref ref="Log4IoTHubAppender" />
  </root>

  <logger name="Log4IoTHubInternal" additivity="false">
    <level value="ALL" />
    <appender-ref ref="Log4IoTHubErrorAppender" />
    <appender-ref ref="Log4IoTHubInfoAppender" />
  </logger>
</log4net>